@page
@model front.Pages.Waiter.Index

<h1 class="display-4">Garçons Registrados</h1>

<hr/>
<td><a class="btn btn-success" asp-page="/Waiter/Create">Criar novo garçom</a></td>
<hr/>

<div>
    <table class="table table-bordered table-striped table-hover-custom">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Sobrenome</td>
                <td>Telefone</td>
                <td>Apagar</td>
                <td>Editar</td> 
            </tr>
        </thead>
        <tbody>
            @foreach (var waiter in Model.Waiter)
            {    
                <tr>
                    <td>
                        @waiter.WaiterId
                    </td>
                    <td>
                        @waiter.FistName
                    </td>
                    <td>
                        @waiter.LastName
                    </td>
                    <td>
                        @waiter.Fone
                    </td>
                    <td>
                        <a 
                            asp-page="/Waiter/Delete/" 
                            asp-route-id="@waiter.WaiterId">
                                Deletar
                        </a>
                    </td>
                    <td>
                        <a 
                            asp-page="/Waiter/Edit/" 
                            asp-route-id="@waiter.WaiterId">
                                Editar
                        </a>
                    </td>
                </tr>
            }
            
        </tbody>
        
    </table>
</div>
