@page "{id:int}"
@model front.Pages.Products.Edit

<h1 class="red">Alterar Evento</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" class="form-control">
            <input type="text" name="ProductsName" placeholder="Nome de Categoria" class="form-control" value="@Model.Products.Name"/>
            <input type="text" name="ProductDescription" id="description" class="form-control" value="@Model.Products.Description"/>
            <input type="number" name="ProductPrice" id="price" class="form-control" value="@Model.Products.Price"/>
            <select name="category" class="form-control" value="@Model.Products.Category">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.CategoryId">@category.CategoryName</option>
                }
            </select>

            <button type="submit" class="btn btn-danger">Criar Categoria</button>
        </form>
    </div>
</div>
<script>
    function validate() {
        let value = document.getElementById('ProductsName').value;
        let label = document.getElementById('Name-Validator');
        label.innerText = '';
        let button = document.getElementById('submit');
        button.disabled = false;
        if (value == '') {
            label.innerText = 'Valor Nulo';
            button.disabled = true;
        }
    }
</script>
