@page
@model front.Pages.Products.Index

<h1 class="display-4">Eventos Registrados</h1>

<hr />
<td><a class="btn btn-success" asp-page="/Products/Create">Criar novo evento</a></td>
<hr />

<div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Apagar</th>
                <th>Editar</th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Product)
            {    
                <tr>
                    <td>
                        @product.ProductId
                    </td>
                    <td>
                        @product.Name
                    </td>
                    <td>
                        @product.Price
                    </td>
                    <td>
                        <a asp-page="/Products/Edit" asp-route-id="@product.ProductId" class="btn btn-danger">
                            Editar
                        </a>
                    </td>
                    <td>
                        <a asp-page="/Products/Delete" asp-route-id="@product.ProductId" class="btn btn-danger">
                            Deletar
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
