@page
@model front.Pages.Material.Index
@{
    ViewData["Title"] = "Materiais";
}

<h1>@ViewData["Title"]</h1>

<div>
    @foreach (var material in Model.materials)
    {
        <div class="card" style="width:18rem">
            <a href="@material.Link" style="text-decoration: none;width:18rem;">
                <div class="card-body">
                    <img src="@material.Image" alt="@material.Title" class="card-img-top">
                    <h5 class="card-title ">
                        @material.Title
                    </h5>
                </div>
            </a>
        </div>
    }
</div>