@page "{id:int}"
@model front.Pages.Quizz.Quiz
@{
    ViewData["Title"] = "Quizz";
}

<h1>@ViewData["Title"]</h1>

<div style="margin: auto;">
    <div class="row" style="margin-top:auto">
        <div class="col">
            <h2>Questão</h2>
            <p>@Model.quiz.Questions</p>
            <button class="btn btn-primary btn-block" onclick="checkAnswer(1, 'a')">@Model.quiz.FirstOption</button>
            <button class="btn btn-primary btn-block" onclick="checkAnswer(1, 'b')">@Model.quiz.SecondOption</button>
            <button class="btn btn-primary btn-block" onclick="checkAnswer(1, 'c')">@Model.quiz.ThirdOption</button>
        </div>
    </div>
</div>

<script>
    function checkAnswer(selectedOption) {
        // Lógica para verificar a resposta selecionada pelo usuário
        // Você pode implementar a lógica de verificação aqui
        console.log("Question: " + question);
        console.log("Selected Option: " + selectedOption);
    }
</script>