@page "{id:int}"
@model front.Pages.Quizz.Quiz
@{
    ViewData["Title"] = "Quizz";
}

<h1>@ViewData["Title"]</h1>

<div style="margin: auto;">
    <div class="row" style="margin-top:auto">
        <div class="col">
            <h2>Questão</h2>
            <p>@Model.quiz.Questions</p>
            <button class="btn btn-primary btn-block option" onclick="checkAnswer(1)">@Model.quiz.FirstOption</button>
            <button class="btn btn-primary btn-block option" onclick="checkAnswer(2)">@Model.quiz.SecondOption</button>
            <button class="btn btn-primary btn-block option" onclick="checkAnswer(3)">@Model.quiz.ThirdOption</button>
        </div>
    </div>
</div>

<script>
    function checkAnswer(selectedOption) {
        var buttonPressed = document.getElementsByClassName("option")[selectedOption-1];
        buttonPressed.classList.remove("btn-primary");
        if(selectedOption == @Model.quiz.Correct){
            buttonPressed.classList.add("btn-success");
        }
        else{
            buttonPressed.classList.add("btn-danger");
        }
        setTimeout(function(){
            location.href = "/Quizz";
        },3000);
    }
</script>